h1{
    font-size: 24px;
    color: #38B2AC;
}

h2{
    font-size: 21px;
    color: #5A67D8;

}

p{
    font-size: 18px;
}

.learning {
    background-color: #f0f4f8;
    padding: 20px;
}

.learning h2 {
    color: #805ad5;
}